:root {
    --clr-primary: #2356fd;

    --clr-secondary: #394555;

    --clr-accent: #4688ff;
    --clr-white: #ffffff;
    --clr-grey: #f1f1f1;
    --clr-black: #000;

    --font-family: 'Roboto', sans-serif;

    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-rg: 18px;
    --font-size-md: 25px;
    --font-size-lg: 30px;
    --font-size-xl: 50px;
    --font-size-sp: 80px;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}


/* ==============================RESETS============================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: var(--font-family);
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin-inline: auto;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
/* __________________________RESETS_________________________________ */

.nav-container{
    min-height: 8rem;
    border-bottom: 2px solid grey;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0.85rem 1rem;
}

.top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-container>p{
    margin-left: -0.7rem;
    font-size: var(--font-size-rg);
    font-weight: var(--font-weight-400);
}

.logo-box{
    margin-left: -1rem;
    max-width: 80px;
    max-height: 80px;
}

.logo-box > img{
    object-fit: cover;
}

.menu-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 80px;
    background-color: #394555;
    opacity: 80%;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
    z-index: 999;
}

.menu-wrapper.opened{
    transform: translateX(0%);
}


.menu-wrapper>ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-wrapper>ul>li{
    text-decoration: none;
    list-style: none;
}
.menu-wrapper>ul>li>a{
    color: white;
}

.right-container{
    display: flex;
    align-items: center;
    gap: 1.75rem;
    min-width: 80px;
}

.cart-num-wrapper{
    position: absolute;
    top: -2px;
    left: 6px;
    background-color: rgb(255, 255, 255);
    width: 28px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
}

.cart-num-wrapper > p{
    translate: 7px 0;
}

#cart-count{
    color: orangered;
    font-weight: bold;
}

.fa-cart-shopping{
    font-size: 1.8rem;
    color: grey;
}

.middle-row{
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container{
    display: flex;
    width: 100%;
}

.search-container>input{
    flex: 1;
    height: 40px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
}

.search-container > input::placeholder{
    color: grey;
}

.search-container>button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-left: -20px;
}

.search-container>input:focus + button{
    border: 2px solid orange;
}


.category-bar-container{
    margin-block: 1rem;
}

.link-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.third-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 15px;
}

.assist-btns{
    display: flex;
    gap: 8px;
}

.assist-btns>button{
    background: transparent;
    border: 1px solid grey;
    border-radius: 50vw;
    padding: 0.4rem 0.7rem;
}

.loca-modal{
    border: 0;
    background: transparent;
    padding: 48px 0 0 15px;
}


.expert-dial{
    border: 0;
    background: transparent;
    padding: 50px 0 0 40px;
}

.dialog-inside-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    min-width: 250px;
    height: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
}

.expert-dialog-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    min-width: 250px;
    height: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
}

.cart-wrapper{
    position: relative;
}

.menu-btn{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    height: 32px;
    width: 32px;
}

.hamburger{
    position: relative;
    z-index: 600;
    height: 5px;
    width: 100%;
    background-color: orangered;
    border-radius: 4px;
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    z-index: 600;
    display: block;
    height: 5px;
    width: 100%;
    background: orangered;
    border-radius: 4px;
}

.hamburger::before{
    top: -10px;
}

.hamburger::after{
    top: 10px;
}

.hamburger.active{
    transform: rotate(135deg);
    top: 2px;
    left: 2px;
}

.hamburger.active::before,
.hamburger.active::after{
    top: 0;
    transform: rotate(90deg);
}

.menu-btn.relocate{
    position: absolute;
    inset: 50% auto 20% auto;
    z-index: 999;
}

.information-bar-container{
    z-index: -1;
}

main{
    padding: 0 0.8rem;
}

.product-title{
    margin-bottom: 1rem;
}

.product-title > h1{
    font-size: var(--font-size-md);
}

.product-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.products-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* width: 10rem; */
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
}

.product-img{
    overflow: hidden;
    min-height: 240px;
}

.product-img > img {
    object-fit: cover;
}

.product-info{
    padding: 0.4rem;
    margin-inline: auto;
}

.product-info > p{
    margin-bottom: 0.3rem;
}

.price-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.cart-btn{
    padding: 1px 4px;
    border: 0;
    background-color: orangered;
    color: #ffffff;
    border-radius: 4px;
}

@media(min-width: 768px){
    .menu-btn{
        display: none;
    }

    .menu-wrapper{
        position: inherit;
        display: block;
        padding: 0;
        background: transparent;
        border: 0;
        transform: translateX(0%);
    }

    #primary-navigation{
        flex-direction: row;
        gap: 40px;
    }
    
    #primary-navigation > li > a{
        color: #000;
    }
}